{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{{ error }}

<h3>{{ week.week }}</h3>



<form id="week-change" method="POST">
  {% csrf_token %}
  {{ form.media }}
  {{ form|crispy }}

</form>

<div class="container">
  <div class="btn-toolbar" style="padding-left: 15px">
    <form method="POST" action="{% url 'deleteweek' week.id %}">
      {% csrf_token %}
        <button form= "week-change" class="btn btn-success" type="submit">Save</button>
      <button class="btn btn-success" type="submit">Delete</button>
    </form>
  </div>
</div>









{% endblock %}
